.heading {
  background-image: url("background.jpg");
}

.caption {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}


.title {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

p {
  font-family: Helvetica;
}

.prices {
  color: blue;
}

.frame {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}
